version: "3.9"

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  backend:
    build:
      context: ./todoBackend
      dockerfile: Dockerfile
    container_name: todo_backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      MONGODB_URI: mongodb://admin:password@mongodb:27017/todoapp?authSource=admin
      JWT_SECRET: your_secret_key
      NODE_ENV: production
    depends_on:
      - mongodb

  frontend:
    build:
      context: ./todoFrontend
      dockerfile: Dockerfile
    container_name: todo_frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongodb_data:
